body {

}

h1 {
	font-size: 2.5rem;
	line-height: 3.5rem;
}

a {
	text-decoration: none;
}

.center-title {
	text-align: center;
}

.mdl-layout__header-row {
	padding-left: 2rem;
}

.mdl-layout__header-row a {
	color: #fff;
}

.mdl-layout__header-row .iconify {
	padding: 10px;
}

.transcript_page {
	padding: 2rem;
}

.large_search_area {
	text-align: center;
	padding: 100px;
	color: #fff;
	background-color: #2e2e2e;
	position: relative;
	z-index: 0;
}

.large_search_area::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/05/Myanmar-Lower-House-Parliament.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
}

.large_search_area #keyword_search {
	width: 60%;
	height: 30px;
	boarder: 0px;
	margin: 15px;
	z-index: 1;
}

.large_search_area .bg_attr {
	font-size: 0.8rem;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.single-result {
	padding: 15px;
}

.single-result .title {
	line-height: 2.2rem;
}

.spinner {
	margin: auto;
}

@media (max-width: 481px) {
  
  .large_search_area #keyword_search {
  	width: 100%;
  }
  
}

/* Transcirpt Styles */

transcript {
	line-height: 2rem;
}

title {
    display:block !important;
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 10px 0px;
}

speech {
	display:block;
	margin-bottom: 10px;
}

speech[type="speaker"] {
	font-style: italic;
	font-weight: bold;
}

speech[type="speaker"]::before {
	content: "ဥက္ကဌ။ ။";
}

speech mp, speech agency {
	font-weight: bold;
	font-size: 1.3rem;
	display: block;
}