@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap');

@font-face {
  font-family: 'NotoSan';
  src: url('fonts/NotoSansMyanmar-Light.ttf');
}

@font-face {
  font-family: 'MyanmarSabae';
  src: url('fonts/MyanmarSabae.ttf');
}

body {
  font-family: 'NotoSan','Raleway', sans-serif;
  font-size: 1rem;
}

h1 {
	font-size: 2.5rem;
	line-height: 3.5rem;
}

h2 {
	font-size: 2.3rem;
}

h3 {
	font-size: 2.1rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1.6rem;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'MyanmarSabae', 'Oswald', sans-serif;
	color: #ff6e40;
}

a {
	text-decoration: none;
}

.center-title {
	text-align: center;
}

.mdl-layout__header-row {
	padding-left: 2rem;
}

.mdl-layout__header-row .iconify {
	padding: 10px;
}

.transcript_page {
	padding: 2rem;
}

.large_search_area {
	text-align: center;
	padding: 100px;
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	position: relative;
}

.large_search_area h2 {
	text-shadow: 1px 0px 3px rgba(0,0,0,0.5);
}

.large_search_area::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url(images/search_bg.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
}

.large_search_area #keyword_search {
	width: 60%;
	height: 30px;
	boarder: 0px;
	margin: 15px;
	z-index: 1;
  font-family: 'NotoSan';
}

.large_search_area .bg_attr {
	font-size: 0.8rem;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.single-result {
	padding: 15px;
}

.single-result .title {
	line-height: 2.2rem;
}

.spinner {
	margin: auto;
}

@media (max-width: 481px) {

	.large_search_area {
		padding: 50px;
	}
  
  	.large_search_area #keyword_search {
  		width: 100%;
  		margin: 15px 0px;
  	}

  	.alpha {
  		margin-top: 15px;
  	}

  	h1 {
  		font-size: 2rem;
  	}

  	h2 {
  		font-size: 1.8rem;
  	}

  	h3 {
  		font-size: 1.6rem;
  	}

  	h4 {
  		font-size: 1.4rem;
  	}

  	h5 {
  		font-size: 1.2rem;
  	}

  	h5 {
  		font-size: 1.1rem;
  	}
  
}

.mdl-mini-footer .footer-content {
  text-align: center;
  width: 100%;
}

/* Transcirpt Styles */
.transcript_wrapper {
  line-height: 2.5rem;
}

transcript {
	line-height: 2.5rem;
}

title {
	font-family: 'MyanmarSabae', 'Oswald', sans-serif;
    display:block !important;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 10px 0px;
    color: #ff6e40;
}

speech {
	display:block;
	margin-bottom: 10px;
}

speech[type="speaker"]::before {
	content: "ဥက္ကဌ။ ။";
}

speech mp, speech agency {
	font-weight: bold;
	font-size: 1.2rem;
	display: block;
}